<li ng-repeat="(key, category) in category.subitems;" id="category-<%key%>" class="category">
    <div class="info" data-category="<%key%>">
        <a href="<%category.routes.edit%>"><%category.name%></a>
        <div class="control">
            <a ng-show="category.routes.delete" href="#" ng-click="deleteItem(category, parent_cat);">Удалить</a>
        </div>
    </div>
    <ul ng-if="category.subitems" ng-init="parent_cat = category"
        ng-include="'/angular-template/admin/category-angular.html'"></ul>
</li>