#categories, #category {
  ul {
    list-style-type: none;
  }
}

#category {
  #parent {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    height: auto;
    border-radius: 4px;
  }
  #parent-field{
    position: relative;
  }
}